/* @import "sidebar.php"; */

* {
    margin: 0px;
    padding: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.icon {
    background-color: #ffffffe7;
    border: none;
    border-radius: 2px;
    margin: 2px;
}
.video {
    width: 100%;
    height: 80px;
    object-fit: cover;
    filter: opacity(80%)
}

body {
    color: aliceblue;
    font-family: monospace;
    background-color: #8d429e;
    background-image: url(../images/jolynelinda.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(0.2) blur(2px);
    height: 100vh;
    /* background-size: 100vw, 100vw 100vh; */
    background-position: 0px 0px, bottom;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}
.navtop {
    background: linear-gradient(to left, #df1d9e42, #a04be139);
    z-index: 3;
    box-shadow: 0 0 20px #00000087;
    /* border-bottom: solid 2px #0000ff93; */
    grid-column: 2;
    grid-row: 1;
    /* grid-area: nav; */
    height: 80px;
    /* width: 100vw; */
}
#navside {
    
    box-shadow: none;
    /* height: 100vh; */
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px
}

aside {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    /* align-items: center; */
    background: linear-gradient(to right, #df1d9e42, #a04be139);
    z-index: 2;
    box-shadow: 0 0 20px #00000087;
    /* border-right: solid 2px #0000ff93; */
    /* grid-area: sidebar; */
    grid-column: 1;
    grid-row: 1 / 4;
    height: 100vh;
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(../images/jolynelinda.jpg); */
    /* background-color: #232323; */
    grid-column: 2;
    grid-row: 2;
    /* grid-area: conteudo; */
    height: 600px;
}

footer {
    background: linear-gradient(to left, #df1d9e42, #a04be139);
    /* grid-area: footer; */
    height: 60px;
    bottom: 0;
    grid-column: 2;
    grid-row: 3;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}
/* li {
    margin-top: 30px;
} */
a {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    letter-spacing: 2px;
    text-shadow: 0 0 2px #b6bbff;
    color: #b6bbff;
}


body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
}
h1 {
    text-align: center;
    margin: 30px 15px;
    letter-spacing: 3px;
    text-shadow: 0 0 7px #ffb6ca;
    color: #feb6ff;
    font-size: 3em;
}
.scroll {
    width: 80vw;
    height: 800px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden; 
}

.table {
    width: 80vw;
    /* height: 800px;
    overflow-y: auto;
    overflow-x: hidden;  */
    border-color: var(--cor-branco);
    border-collapse: collapse;
    /* border-collapse: separate; */
    /* border-spacing: 10px; */

    thead,
    th,
    tbody,
    td,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        font-size: 15px;
    }

    th,
    td {
        border-bottom-width: 2px;
        padding: 0.7rem;
        text-align: left;
    }

    /* tr {
         border-collapse: separate; 
        margin-bottom: 10px;
    } */
    /* tr:nth-child(2n + 1) {
    
        background: #cf66e770;
    } */

}




@media (max-width: 490px) {
    body {
        grid-template-columns: 1fr;
    }
    aside {
        display: none;
    }
    nav {
        grid-column: 1;

    }
    main {
        grid-column: 1;
    }
    footer {
        grid-column: 1;
    }

}
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
}
.card_produtos {
    margin-bottom: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 210px;
    /* background-color: white; */
    background: linear-gradient(to left, #db4cab6e, #a56ad26e);
    /* box-shadow: 0px 0px 11px 1px #0000006d; */
    box-shadow: 0 0 11px #0000006d;
    border-radius: 5px;
}

.produto_img {
    height: 150px;
    /* width: 200px; */
    border-radius: 5px;
}
.card_text {
    /* padding-left: 15px; */
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: 500;
    color: aliceblue;
    /* text-align: center; */
}
p {
    color: gray;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cad-cont input {
    width: 400px;
    height: 35px;
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to left, #da7dbb9f, #a56ad2ac);
    box-shadow: 0 0 11px #0000006d;
    border: none;
    
}
.cad-button {
    margin: 10px;
    width: 250px;
    height: 45px;
    background: linear-gradient(to left, #db4cabd7, #a56ad2d1);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 11px #0000006d;
    color: white;
    transition: 0.2s;
}
.cad-button:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
.cad-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}